<div class="container my-3">
  <h2>ブックマーク作品 <small>全<%= @bookmarks.count %>件</small></h2>
  <div class="row my-3">
    <div class="d-flex flex-row flex-wrap">
      <% @bookmarks.each do |bookmark| %>
        <div class="d-flex flex-column mr-5 mt-3">
          <div>
            <%= link_to item_path(bookmark.item.id) do %>
              <%= attachment_image_tag bookmark.item, :image, :fill, 150, 150 %>
            <% end %>
          </div>
          <div class="my-1">
            <%= link_to user_path(bookmark.item.user.id) do %>
              <%= attachment_image_tag bookmark.item.user, :image, :fill, 30, 30, fallback: "no_image_30.jpg" %>
              <%= bookmark.item.user.name %>
            <% end %>
          </div>
          <%= bookmark.item.item_status_i18n %>
          <i class="fas fa-eye">
        　<%= bookmark.item.impressionist_count(:filter=>:session_hash) %>
      　   </i>
        </div>
      <% end %>
    </div>
  </div>
</div>