<% if @user.errors.any? %>
  error
  <%= @user.errors.count %>件のエラーが発生しました
  <% @user.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<div class="container my-3">
  <h2>ユーザー編集</h2>
  <div class="row">
    <dev class="col my-3">
      <%= form_with model:@user, url:user_path(@user.id), local:true do |f| %>
        <%= attachment_image_tag @user, :image, :fill, 60, 60, fallback: "no_image.jpg"%>
        <div class="form-group">
          <%= f.label :ユーザー画像 %><br>
          <%= f.attachment_field :image %>
        </div>
        <div class="form-group">
          <%= f.label :ユーザー名 %>
          <%= f.text_field :name, class: 'col-4 form-control' %>
        </div>
        <%= f.submit "変更を保存", class: 'btn btn-sm btn-secondary' %>
      <% end %>
    </div>
  </div>
</div>