<h2>ユーザー編集</h2>
<%= form_with model:@user, url:user_path(@user.id), local:true do |f| %>
<%= attachment_image_tag @user, :image, :fill, 60, 60, fallback: "no_image.jpg"%>
<%= f.attachment_field :image %>
<%= f.text_field :name %>
<%= f.submit "変更を保存" %>
<% end %>