<div class = "contener my-3" >
  <div class = "row" >
    <div class = "col-8 mx-auto" >
      <h2>フォロワー</h2>
      <table class='table'>
        <thead>
          <tr>
            <th></th>
            <th  class = "col-3">ユーザー名</th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td class = "text-center"><%= user.id %></td>
              <td class = "text-left col-3">
                <%= link_to user_path(user.id) do %>
                  <%= attachment_image_tag user, :image, :fill, 30, 30, fallback: "no_image_30.jpg" %>
                  <%= user.name %>
                <% end %>
              </td>
              <td>フォロー数：<%= user.followers.count %></td>
              <td>フォロワー数：<%= user.followeds.count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>