<h2>ユーザー詳細</h2>
<%= attachment_image_tag @user, :image, :fill, 100, 100, fallback: "no_image.jpg" %>
<%= @user.name %>

<% @items.each do |item| %>
<%= attachment_image_tag item, :image, :fill, 100, 100 %>
<%= item.name %>
<% end %>
<%= paginate @items %>