<div class="container">
  <h2>ユーザー詳細</h2>
  <div class="row">
    <dev class="col my-3">
      <%= attachment_image_tag @user, :image, :fill, 100, 100, fallback: "no_image.jpg" %>
      <%= @user.name %>
      <% if @user.id == current_user.id %>
        <%= link_to "編集", edit_user_path(current_user.id), class: "btn btn-sm btn-success" %><br>
      <% end %>
      <%= @user.introduction %>
    </div>
    <h4>－投稿作品－ <small>全<%= @items.total_count %>件</small></h4>
    <div class="d-flex flex-row flex-wrap">
      <% @items.each do |item| %>
        <div class="d-flex flex-column mr-5 mt-3">
          <%= link_to item_path(item.id) do %>
            <%= attachment_image_tag item, :image, :fill, 150, 150 %>
          <% end %>
          <%= item.name %><br>
          <%= item.item_status %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= paginate @items %>