<h2>返信作成</h2>
<%= form_with model: @order, url:"/users/current_user.id/orders", local: true do |f| %>
<%= f.text_area :order_comment %>
<%= f.hidden_field :comment_status, :value => 2 %>
<%= f.hidden_field :item_id, :value => @item.id %>
<%= f.hidden_field :user_id, :value => @item.user_id %>
<%= f.submit "送信" %>
<% end %>