<% if @order.errors.any? %>
  error
  <%= @order.errors.count %>件のエラーが発生しました
  <% @order.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<div class="container offset-2 my-3">
  <div class="row">
    <div class="col-8 mx-auto">
      <h2>返信作成</h2>
      <%= form_with model: @order, url:"/users/current_user.id/orders", local: true do |f| %>
      　<div class="form-group">
        　<%= f.label :返信内容 %>
      　　<%= f.text_area :order_comment, class: 'col-6 form-control' %>
      　</div>
        <%= f.hidden_field :comment_status, :value => 2 %>
        <%= f.hidden_field :item_id, :value => @order_date.item_id %>
        <%= f.hidden_field :user_id, :value => @order_date.user_id %>
        <%= f.submit "送信", class: 'btn btn-sm btn-secondary' %>
      <% end %>
    </div>
  </div>
</div>