<div class = "contener my-3" >
  <div class = "row" >
    <div class = "col-8 mx-auto" >
      <h2>依頼詳細</h2>
      <%= link_to user_path(@order.user.id) do %>
        <%= attachment_image_tag @order.user, :image, :fill, 100, 100, fallback: "no_image.jpg" %>
        <%= @order.user.name %>
      <% end %><br>
      <div class="row my-3">
        依頼作品名：<%= @order.item.name %><br>
        依頼内容：<%= @order.order_comment %><br>
      </div>
      <div class="row my-3">
        <%= @order.comment_status_i18n %><br>
      </div>
      <div class="row my-3 col-3">
        <%= link_to "削除" , show_order_path(current_user.id),method: :delete, class: 'btn btn-sm btn-danger', data: { confirm: '本当に削除しますか？' } %>
      </div>
    </div>
  </div>
</div>