
<div class="container my-3">
  <h2>作品一覧 <small>全<%= @items.total_count %>件</small></h2>
  <div class="row my-3">
    <div class="d-flex flex-row flex-wrap">
      <% @items.each do |item| %>
        <div class="d-flex flex-column mr-5 mt-3">
          <%= link_to item_path(item.id) do %>
            <%= attachment_image_tag item, :image, :fill, 150, 150 %>
          <% end %>
          作品名：<%= item.name %>
          <%= link_to user_path(item.user.id) do %>
            作者：<%= item.user.name %>
          <% end %>
          <%= item.item_status_i18n %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= paginate @items %>