
<div class="container my-3">
  <h2>作品一覧 <small>全<%= @items.total_count %>件</small></h2>
  <div class="row my-3">
    <div class="d-flex flex-row flex-wrap">
      <% @items.each do |item| %>
        <div class="d-flex flex-column mr-5 mt-3">
          <div>
            <%= link_to item_path(item.id) do %>
              <%= attachment_image_tag item, :image, :fill, 150, 150 %>
            <% end %>
          </div>
          <div class="my-1">
            <%= link_to user_path(item.user.id) do %>
              <%= attachment_image_tag item.user, :image, :fill, 30, 30, fallback: "no_image_30.jpg" %>
              <%= item.user.name %>
            <% end %>
          </div>
          <%= item.item_status_i18n %>
          <i class="fas fa-eye">
        　<%= item.impressionist_count(:filter=>:session_hash) %>
      　   </i>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= paginate @items %>