
<div class="container my-3">
  <h2>作品一覧 <small>全<%= @items.total_count %>件</small></h2>
  <div class="row my-3">
    <% @items.each do |item| %>
      <div class="col-2">
        <%= link_to item_path(item.id) do %>
          <%= attachment_image_tag item, :image, :fill, 150, 150 %>
        <% end %><br>
        作品名：<%= item.name %><br>
        <%= link_to user_path(item.user.id) do %>
          作者：<%= item.user.name %><br>
        <% end %><br>
        <%= item.item_status %>
      </div>
    <% end %>
  </div>
</div>
<%= paginate @items %>