<% if @item.errors.any? %>
  error
  <%= @item.errors.count %>件のエラーが発生しました
  <% @item.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<div class="container offset-2 my-3">
  <div class="row">
    <div class="col-8 mx-auto">
      <h2>作品新規投稿</h2>
      <%= form_with model: @item, url:items_path, local:true do |f| %>
        <div class="form-group">
          <%= f.label :作品画像 %><br>
          <%= f.attachment_field :image %>
        </div>
        <div class="form-group">
          <%= f.label :作品名 %>
          <%= f.text_field :name, class: 'col-6 form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :作品説明 %>
          <%= f.text_area :description, class: 'col-6 form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :タグ %>
          <%= f.text_field :tag_list, value: @item.tag_list.join(','), id: 'tags', class: 'col-6 form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :作品ステータス %>
          <%= f.radio_button :item_status, 0, checked: true %> 作品投稿
          <%= f.radio_button :item_status, 1 %> 依頼受付中
          <%= f.radio_button :item_status, 2 %> 依頼受付停止中
        </div>

        <%= f.submit '作品登録', class: 'btn btn-sm btn-secondary' %>
      <% end %>
    </div>
  </div>
</div>