<h2>作品新規投稿</h2>
<%= form_with model: @item, url:"/items", local:true do |f| %>
<h4>画像</h4>
<%= f.attachment_field :image %>
<h4>作品名</h4>
<%= f.text_field :name %>
<h4>作品説明</h4>
<%= t.text_area :description %>
<h4>アイテムステータス</h4>
<%= f.radio_button :item_status, 0, checked: true %>作品投稿
<%= f.radio_button :item_status, 1 %>依頼受付中
<%= f.radio_button :item_status, 2 %>依頼受付停止中

<%= f.submit '作品登録' %>
<% end %>