<div class="container my-3 offset-2">
  <h2>作品詳細</h2>
  <div class="row">
    <div class="col-3 offset-1 my-5">
      <%= attachment_image_tag(@item, :image, :fill, 300, 300) %>
    </div>
    <div class="col-3 offset-1 my-5">
      作品名：<%= @item.name %><br>
      作品説明<br>
      <%= @item.description %><br>
      <%= @item.item_status %><br>
      <%= link_to '依頼作成', orders_new_path, class: 'btn btn-sm btn-secondary' %>
      <% if @item.user_id == current_user.id %>
        <%= link_to "編集", edit_item_path(@item), class: "btn btn-sm btn-success" %>
        <%= link_to "削除", item_path(@item), method: :delete, "data-confirm"=>"本当に消しますか？", class: "btn btn-sm btn-danger" %>
      <% end %>
    </div>
  </div>
</div>